*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
}
:root {
    --bg-color: rgb(244, 152, 167);
    --bg-color1: rgb(232, 232, 232)
}
/************************general css*********************************************/
.container{
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

/******************************** Start of first header*****************************/
.first_head {
    border-top: 2px solid var(--bg-color1);
    border-bottom: 2px solid var(--bg-color1) ;
}
.first_header {
    /* max-width: 1440px; */
    /* margin: auto; */
    padding: .7rem 0rem;
    color: rgb(156, 154, 154);
    font-size: 12px;
    font-weight: 600;
}
.first_header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_header .icons{
    display: flex;
    gap: .5rem;
}
.first_header .icons .fa-brands{
    color:gray ;
    padding: 5px;
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
}
.first_header .icons .fa-brands:hover {
    background-color: var(--bg-color);
    color: white;
}
.bi-bag {
    color: black;
}
.first_header .right_icon {
    display: flex;
    gap: 1rem;
   
}
.right_icon select {
    border: none;
}

/**********************start of 2nd header****************************************************/
.second_head {
    border-bottom: 2px solid var(--bg-color1);
}
.second_header {
    /* max-width: 1440px; */
    /* margin: auto; */
    padding: 1rem 0rem;
    color: rgb(156, 154, 154);
}
.second_header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second_header .head_text {
    color: var(--bg-color);
    font-size: 2rem;
}
.second_header .search {
    min-width: 60%;
    padding-left: 10px;
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
}
.second_header .search input{
    color:rgb(231, 226, 226) ;
    padding: 10px;
    font-size: .8rem;
    border: none;
    width: 90%;
    outline: none;
}
.second_header .second_icon {
        display: flex;
        gap: 1rem;
}
.second_icon sup {
    background-color: red;
    color: white;
    padding:0px 3px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
}
.second_header .fa-regular {
    color: black;
}
/*************************** Start of main body*********************************************/
/* main {
    max-width: 1440px; 
    margin: auto;
     padding-left: 5rem;
    padding-right: 5rem;
} */
/************************ start of navbar in the main body *********************************/
.navbar{
    padding: 20px;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 13px;
    font-weight: bold;
}
.navbar a{
    color: rgb(70, 69, 69);
}
/********************************* start of banner1 **********************************/
 .banner1 {
    background: url("/images/banner-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* max-width: 100%;   */
} 

 .banner1 .text {
   padding: 7rem 0rem;
   text-align: center;
   max-width: 50%;
   /* position: absolute;
   top: 25%; */
   /* border: 1px solid black; */
}
.banner1 .text h2 {
    color: var(--bg-color);
}
.banner1 .text h3 {
    color: gray;
    font-weight: 300;
}
.btn {
    /* min-width: 12%; */
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
/************************ start of 1st row after the banner ************************************/
.movable {
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
    margin-bottom:3rem;
}
.firstrow {
    display: flex;
    justify-content: space-between;
    min-width: 24%;
    border: 1px solid var(--bg-color1);
    padding:5px;
    border-radius: 15px;
    overflow-x: hidden;
}
.firstrow:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.item_with_text {
    display: flex;
    gap: 1rem;
}
.firstrow .item {
    background-color:var(--bg-color1) ;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 7px;
}
.firstrow .item img {
    height: 40px;
    width: 40px;
}
.numberof_item {
    /* padding-left: 7rem; */
    color: rgb(70, 69, 69);
    font-size: 10px;
}
.item_text h4 {
    font-weight: 400;
    font-size: 14px;
}
.item_text p {
    color: var(--bg-color);
    font-size: 12px;
}

/*************************Start of the sticky parts whole body *************************************/
/* .main_body {
    display: grid;
    grid-template-columns: 1fr 4fr;
} */
.main_body {
    display: flex;
}
/*********************stat of the sidebar **********************************************/
aside {
    position: sticky;
    top: 0;
    max-width: 45rem;
    margin-right: 1rem;
    /* the above line is used when main_body is not grid */
}
.left_sidebar {
    /* min-height:50vh; */
    /* min-width: 25%; */
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1rem;
}
.left_sidebar:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.left_sidebar h1 {
    font-size: 1rem;
    padding-bottom: 10px;
}
.left_sidebar_up_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .3rem 0;
}
.first_item {
    display: flex;
    justify-content: space-evenly;
}
.first_item span {
    text-decoration: line-through;
}
.first_item img {
    height: 80%;
    width: 30%;
}
.left_sidebar .box1 img {
    height: 30px;
    width: 30px;
    padding-right: 8px;
}
.fa-star {
    color: goldenrod;
}

/* *********************Right side of the leftbar starts ********************************/
/********************START OF ARRIVAL,TRENDING PART ************************************/
.right_row1 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-left:2rem; */
    justify-content: space-between;
}
.right_row1 h1 {
    /* padding-left:2rem; */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-color1);
    margin-bottom: 1rem;
}
.arrival, .trending, .rated {
    max-width: 30%;
    overflow: hidden;
}
.arrival_row {
    max-width:100%;
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    padding: .5rem 0;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
.arrival_row:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.arrival_row span, .shampoo_text span, .newitem_row1 span {
    text-decoration: line-through;
}
.arrival_row b, .shampoo_text b, .newitem_row1 b {
    color: var(--bg-color);
    padding-right: 10px;
}
.arrival img, .trending img, .rated img {
    height: 100%;
    width: 30%;
}
/* this below line is used if we use display:grid for main_body */
/* .deal_of_day, .new_products {  
    padding-left:2rem;
} */

/********************DEAL OF THE DAY part starts ******************************************/
.deal_of_day .row1,.new_products .row1 {
    padding-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--bg-color1);
}

.deal_of_day .row1 h1,.right_row1 h1,.new_products .row1 h1 {
    font-size: 1.3rem;
}
.shampoo {
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    padding-right: 2rem;
    margin-top: 2rem;
}
.shampoo:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.shampoo img {
    /* max-height: 28rem; */
    max-width: 50%;
    padding-top: 2rem;
}
.shampoo_text {
    padding-top: 5rem;
}
.sold_available {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.bar {
    height: .5rem;
    border-radius: 25px;
    background-color: #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bar1 {
    height: .4rem;
    border-radius: 25px;
    max-width: 40%;
    background-color: var(--bg-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.time_box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.time_box p {
    padding: 10px;
    background-color: var(--bg-color1);
    border-radius: 10px;
}

/****************************NEW PRODUCTS part starts *****************************************/
.newitem_row {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.newitem_row1 {
    border: 1px solid var(--bg-color1);
    padding: 30px;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.newitem_row1:hover {
    box-shadow: 0 0 20px var(--bg-color1);
}
.newitem_row img {
    max-height: 9rem;
    /* max-height: 25vh; */
}
/********************************END OF STICKY PART WHOLE BODY ***************************************/

/***************************The TESTIMONIAL SECTION STARTS *****************************************/
.second_last_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 2.5rem; */
    margin-top: 5rem;
}
.testimonial h1, .services h1 {
    padding-bottom:.2rem ;
    border-bottom: 1px solid var(--bg-color1);
}
.alan_doe, .support {
    margin-top: 2rem;
    border: 1px solid var(--bg-color1);
    padding: 1.5rem 4rem;
    text-align: center;
    border-radius: 10px;
}
.alan_doe:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.alan_doe img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.fa-quote-left {
    color: var(--bg-color);
}
.second_last_row .banner2 img {
    /* background: url("/images/cta-banner.jpg") no-repeat center/cover; */
    border-radius: 10px;
}
.banner2 img {
    background-size: 100%;
}
.banner2 {
    position: relative;
}
.summer_collection{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 padding: 2rem 4rem;
 /* min-height: 50%;
 min-width: 40%; */
 border-radius: 10px;
 background: rgba(255, 255, 255,.5);
 box-shadow: 0 5px 15px rgba(0,0,0, .5);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.summer_collection h5 {
    /* width: 60%; */
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    /* margin-top: 1rem; */
}
.summer_collection h2, .summer_collection p {
    text-align: center;
    padding-top: 5px;
}
.support p {
    padding-bottom: .4rem;
}
.support i {
    padding-right: .5rem;
}
.support:hover {
    box-shadow: 0px 0px 20px var(--bg-color1) ;
}
.support .fa-solid,.support .bi {
    color: var(--bg-color);
}

/**************LAST ROW BEFORE FOOTER starts *************************************/
.last_row {
    display: flex;
    flex-wrap: wrap;
    /* gap: .5rem; */
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.last_row_item {
    overflow-x: hidden;
}
.last_row img {
    max-height:11rem;
    border-radius: 10px;
}
.last_row img:hover {
    box-shadow: 0px 0px 10px var(--bg-color);
}
.last_row h1 {
    font-size: 1rem;
}
.last_row b {
    font-weight: 300;
    color: var(--bg-color);
}
.last_row span {
    color: gray;
    font-weight: 200;
}

/*********************************FOOTER Section starts ***********************************************/
footer {
    background-color:rgb(35, 34, 34);
}
.upper_footer, .middle_footer {
    border-bottom: 1px solid rgb(166, 148, 148);
}
/* .footer_content {
    max-width: 1440px;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
} */
.upper_footer_text {
    padding:3rem 0rem 2rem 0rem;
}
.upper_footer_text h3 {
    color: var(--bg-color);
    padding-bottom: 1rem;
}
.upper_footer_text p {
    padding-bottom: 1rem;
    color: white;
}
.upper_footer_text span {
    font-weight: 100;
    padding-left: 10px;
    color: rgb(206, 203, 203);
}
.middle_footer .footer_content {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    font-size: 15px;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}
.middle_footer .footer_content li:first-child {
    font-size: 17px;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: var(--bg-color);
    text-underline-offset: 12px;
    padding-bottom: 1.5rem;
}
.middle_footer .footer_content a {
    color: gray;
}
.middle_footer .footer_content li {
    padding-bottom: .5rem;
}
.lower_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0rem;
    border-bottom:1px solid rgb(166, 148, 148) ;
}
.lower_footer p {
    color: rgb(206, 203, 203);
    padding-top: .5rem;
}
/******************************END OF THE CSS FOR P.C VIEW *************************************************/

/******************** FOR TAB *********************************/
.second_icon1 {
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    /* width: 50%; */
    z-index: 1000;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

/************************ MEDIA QUERY for TAB *******************************************/

@media (min-width: 800px) and (max-width:1280px){
    body {
        width: 100%;
    }
    .second_header, .first_header {
        padding-left:.5rem;
        padding-right: 0.5rem;
    }
    .banner1 {
        margin-top: 2rem;
    }
    .banner1 .text {
        max-width: 40%;
    }
    .deal_of_day, .new_products, .right_row1, .right_row1 h1 {
        padding-left: 0;
    }
    .newitem_row, .last_row {
        justify-content: space-evenly;
    }
    .testimonial,.services, .banner2 {
        width: 100%;
    }
    .banner2 img {
        padding-top: 2rem;
        width: 100%;
        /* padding-left: 1.3rem; */
    } 
    .middle_footer .footer_content {
        grid-template-columns: repeat(3,1fr);
    }
    .alan_doe img {
        height: 30%;
        width: 30%;
        border-radius: 50%;
    }
    /* .main_body {
        grid-template-columns:1fr;
    } */
    .sidebar_hide,.first_header .icons, .second_header .second_icon, .navbar, .first_row_hide_tab {
        display: none;
    }
    .movable .tab
    {
        width: 45%;
    }
    .second_icon1 {
        display: flex;
        width: 45%;
        position: fixed;
        bottom: 0;
        left: 25%;
    }
    .banner1 {
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/************************** FOR PHONE ********************************************/

.second_header_phone {
    border-bottom: 2px solid var(--bg-color1);
    padding: 1rem .5rem;
    /* max-width: 1440px; */
    display: none;
}
.second_header_phone .air_text {
    /* width: 100%; */
    /* padding-left: 1rem; */
    font-size: 1rem;
    color: var(--bg-color);
}
.second_header_phone .search_bar {
    margin-top: 1rem;
    min-width: 60%;
    padding-left: 10px;
    border: 2px solid var(--bg-color1);
    border-radius: 10px;
}
.second_header_phone .search_bar input{
    color:rgb(231, 226, 226) ;
    padding: 10px;
    padding-left: 1rem;
    font-size: .5rem;
    border: none;
    width: 90%;
    outline: none;
}

/***************************** MEDIA QUERY for PHONE **********************************************/
@media (min-width: 0px) and (max-width:800px){
    body {
        width: 100%;
    }
    .first_header {
        padding: .5rem;
    }
    .banner1 {
        margin-top: 2rem;
        /* width: 100%; */
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .banner1 .text {
        min-width: 50%;
    }
    .banner1 .text h2 {
        font-size: .9rem;
    }
    .banner1 .text h1 {
        font-size: 1rem;
    }
    .banner1 .text h3 {
        font-size:.9rem ;
    }
    .banner1 .btn {
        padding: 3px;
        font-size: 10px;
    }
    .right_row1, .shampoo {
        flex-direction: column;
    }
    .shampoo img {
        max-width: 90%;
        align-self: center;
    }
    .shampoo_text {
        padding-left: 1rem;
    }
    .arrival, .trending, .rated {
        max-width:100%
    }
    .first_header .rigt_icon_hide_phone, .second_header .hide_phone{
        display: none;
    }
    .sidebar_hide,.first_header .icons, .second_header .second_icon, .navbar, .first_row_hide_tab {
        display: none;
    }
    .movable .hide_phone, .last_row .hide_phone {
        display: none;
    }
    .firstrow
    {
        width: 100%;
        /* margin: 0 auto; */
    }
    .deal_of_day, .new_products, .right_row1, .right_row1 h1 {
        padding-left: 0;
    }
    .newitem_row, .last_row {
        justify-content: space-evenly;
    }
    .testimonial,.services, .banner2 {
        width: 100%;
    }
    .banner2 img {
        padding-top: 5rem;
        width: 100%;
    } 
    .middle_footer .footer_content {
        grid-template-columns: repeat(1,1fr);
    }
    .second_icon1 {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .second_head {
        display: none;
    }
    .second_header_phone {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 0px) and (max-width:520px)
{
    .newitem_row {
        flex-direction: column;
    }
    .banner2 .summer_collection {
        padding: .3rem 3rem;
    }
}