*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: rgb(244, 152, 167);
    --bg-color1: rgb(232, 232, 232)
}
/* Start of first header */
.first_head {
    border-top: 2px solid var(--bg-color1);
    border-bottom: 2px solid var(--bg-color1) ;
    /* max-width: 100%; */
}
.first_header {
    max-width: 1440px;
    margin: auto;
    padding: .7rem;
    color: rgb(156, 154, 154);
    font-size: 12px;
    font-weight: 600;
}
.first_header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_header .icons{
    display: flex;
    gap: .5rem;
}
.first_header .icons .fa-brands{
    color:gray ;
    padding: 5px;
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
}
.first_header .icons .fa-brands:hover {
    background-color: var(--bg-color);
    color: white;
}
.bi-bag {
    color: black;
}
.first_header .right_icon {
    display: flex;
    gap: 1rem;
   
}
.right_icon select {
    border: none;
}

/* start of 2nd header */
.second_head {
    border-bottom: 2px solid var(--bg-color1);
}
.second_header {
    max-width: 1440px;
    margin: auto;
    padding: 1rem;
    color: rgb(156, 154, 154);
}
.second_header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second_header .head_text {
    color: var(--bg-color);
    font-size: 2rem;
}
.second_header .search {
    min-width: 60%;
    padding-left: 10px;
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
}
.second_header .search input{
    color:rgb(231, 226, 226) ;
    padding: 10px;
    font-size: .8rem;
    border: none;
    width: 90%;
    outline: none;
}
.second_header .second_icon {
        display: flex;
        gap: 1rem;
}
.second_icon sup {
    background-color: red;
    color: white;
    padding:0px 3px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
}
.second_header .fa-regular {
    color: black;
}
/* Start of main body */
main {
    max-width: 1440px;
    margin: auto;
}
/* start of navbar */
.navbar{
    padding: 20px;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 13px;
    font-weight: bold;
}
.navbar a{
    color: rgb(70, 69, 69);
}
/* start of banner1 */
.banner1 {
    background: url("/images/banner-1.jpg") no-repeat center/cover;
    /* max-width: 100%; */
    height:25rem ;
}
 .text {
   padding: 7rem;
}
.text h2 {
    color: var(--bg-color);
}
.text h3 {
    color: gray;
    font-weight: 300;
}
.btn {
    min-width: 12%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
/* start of 1st row */
.movable {
    display: flex;
    justify-content: space-between;
    /* gap: .5rem; */
    margin:60px auto;
}
.firstrow {
    display: flex;
    justify-content: space-between;
    min-width: 24%;
    border: 1px solid var(--bg-color1);
    padding:5px;
    border-radius: 15px;
    overflow-x: hidden;
}
.item_with_text {
    display: flex;
    gap: 1rem;
}
.firstrow .item {
    background-color:var(--bg-color1) ;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 7px;
}
.firstrow .item img {
    height: 40px;
    width: 40px;
}
.numberof_item {
    padding-left: 7rem;
    color: rgb(70, 69, 69);
    font-size: 10px;
}
.item_text h4 {
    font-weight: 400;
    font-size: 14px;
}
.item_text p {
    color: var(--bg-color);
    font-size: 12px;
}
.main_body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* sidebar */
aside {
    position: sticky;
    top: 0;
}
.left_sidebar {
    /* min-height:50vh; */
    /* min-width: 25%; */
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--bg-color1) ;
    margin-bottom: 1rem;
}
.left_sidebar h1 {
    font-size: 1rem;
    padding-bottom: 10px;
}
.left_sidebar_up_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .3rem 0;
}
.first_item {
    display: flex;
    justify-content: space-evenly;
}
.first_item span {
    text-decoration: line-through;
}
.first_item img {
    height: 80%;
    width: 30%;
}
.left_sidebar .box1 img {
    height: 30px;
    width: 30px;
    padding-right: 8px;
}
.fa-star {
    color: goldenrod;
}
.right_row1 {
    display: flex;
    flex-wrap: wrap;
    padding-left:2rem;
    justify-content: space-between;
}
.right_row1 h1 {
    padding-left:2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bg-color1);
    margin-bottom: 1rem;
}
.arrival, .trending, .rated {
    max-width: 30%;
}
.arrival_row {
    max-width:100%;
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem 0;
}
.arrival_row span, .shampoo_text span, .newitem_row1 span {
    text-decoration: line-through;
}
.arrival_row b, .shampoo_text b, .newitem_row1 b {
    color: var(--bg-color);
    padding-right: 10px;
}
.arrival img, .trending img, .rated img {
    height: 100%;
    width: 30%;
}
.deal_of_day, .new_products {
    padding-left:2rem;
}
.deal_of_day .row1,.new_products .row1 {
    padding-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--bg-color1);
}

.deal_of_day .row1 h1,.right_row1 h1,.new_products .row1 h1 {
    font-size: 1.3rem;
}
.shampoo {
    display: flex;
    /* flex-wrap: wrap; */
    border: 1px solid var(--bg-color1);
    border-radius: 10px;
    padding-right: 2rem;
    margin-top: 2rem;
}
.shampoo img {
    max-height: 47vh;
    padding-top: 2rem;
}
.shampoo_text {
    padding-top: 3rem;
}
.sold_available {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.bar {
    height: .5rem;
    border-radius: 25px;
    background-color: #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bar1 {
    height: .4rem;
    border-radius: 25px;
    max-width: 40%;
    background-color: var(--bg-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.time_box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.time_box p {
    padding: 10px;
    background-color: var(--bg-color1);
    border-radius: 10px;
}
.newitem_row {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
.newitem_row1 {
    border: 1px solid var(--bg-color1);
    padding: 35px;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.newitem_row img {
    max-height: 20vh;
}
.second_last_row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 2.5rem; */
    margin-top: 5rem;
}
.testimonial h1, .services h1 {
    padding-bottom:.2rem ;
    border-bottom: 1px solid var(--bg-color1);
}
.alan_doe, .support {
    margin-top: 2rem;
    border: 1px solid var(--bg-color1);
    padding: 1.5rem 4rem;
    text-align: center;
    border-radius: 10px;
}
.alan_doe img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}
.banner_services {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3rem;
    flex-wrap: wrap;
}
.second_last_row .banner2 img {
    /* background: url("/images/cta-banner.jpg") no-repeat center/cover; */
    border-radius: 10px;
}
.banner2 {
    position: relative;
}
.summer_collection{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 padding: 2rem 4rem;
 border-radius: 10px;
 background: rgba(255, 255, 255,.5);
 box-shadow: 0 5px 15px rgba(0,0,0, .5);
}
.summer_collection h5 {
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.summer_collection h2, .summer_collection p {
    text-align: center;
    padding-top: 5px;
}
.support_medium {
    display: flex;
    gap: 1rem;
    padding: .2rem;
}
.support_medium .fa-solid,.support_medium .bi {
    color: var(--bg-color);
}
.last_row {
    display: flex;
    flex-wrap: wrap;
    /* gap: .5rem; */
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.last_row_item {
    overflow-x: hidden;
}
.last_row img {
    max-height:11rem;
    border-radius: 10px;
}
.last_row h1 {
    font-size: 1rem;
}
.last_row b {
    font-weight: 300;
    color: var(--bg-color);
}
.last_row span {
    color: gray;
    font-weight: 200;
}
footer {
    /* margin-top: 80px; */
    /* height: 50vh; */
    /* width: 100%; */
    background-color:rgb(35, 34, 34);
}
.upper_footer, .middle_footer {
    border-bottom: 1px solid rgb(166, 148, 148);
}
.footer_content {
    max-width: 1440px;
    margin: auto;
}
.upper_footer_text {
    padding:3rem 0rem 2rem 0rem;
}
.upper_footer_text h3 {
    color: var(--bg-color);
    padding-bottom: 1rem;
}
.upper_footer_text p {
    padding-bottom: 1rem;
    color: white;
}
.upper_footer_text span {
    font-weight: 100;
    padding-left: 10px;
    color: rgb(206, 203, 203);
}
.middle_footer .footer_content {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    font-size: 15px;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}
.middle_footer .footer_content li:first-child {
    font-size: 17px;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: var(--bg-color);
    text-underline-offset: 12px;
    padding-bottom: 1.5rem;
}
.middle_footer .footer_content a {
    color: gray;
}
.middle_footer .footer_content li {
    padding-bottom: .5rem;
}
.lower_footer {
    text-align: center;
    padding: 2rem;
    border-bottom:1px solid rgb(166, 148, 148) ;
}
.lower_footer p {
    color: rgb(206, 203, 203);
    padding-top: .5rem;
}
